.subcategory .sub-body{
      background: #f8f1f1cf;
      border-radius: 10px;
      color: red;
      /* overflow: hidden; */

}
.img-wrapper {  
  
      overflow: hidden; 
}
    
.sub-img {
      transition: 0.3s;
}
    
.sub-img:hover {
      transform: scale(1.1);
}

.title{
      /* color:red; */
      font-weight: 600;
}

/* .line{
      width: 100px;
      background: #272829;
      height: 5px;
      margin-left: 6px;
      margin-bottom: 15px;
} */

.discount #filters {
      padding: 0;
      margin: 0 auto 25px auto;
      list-style: none;
      text-align: center;
      background: #fff;
      border-radius: 50px;
      padding: 2px 15px;
    }
    
.discount #filters li {
      cursor: pointer;
      display: inline-block;
      width: 250px;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      background-color: #cfcfcf;
      color: #272829;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
    }
    
.discount #filters li:hover,.discount #filters li.filter-active {
      color: rgb(255, 15, 0);
}
    
.discount #filters li:last-child {
      margin-right: 0;
}
    
.your-class{
      /* border : 1px solid #272829; */
      padding: 5px;
      border-radius: 3px;
}

/* Proudcts Page */

#product{

      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      /* width: 100vw; */
}

#product .product-container{
      width: 90%;
}

.product-slider .owl-nav .owl-next,
.product-slider .owl-nav .owl-prev{

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: red;
      font-size: 10px;
      background: none;
      border: none;
      outline: none;

}

.product-slider .owl-nav .owl-next{
      right: -3rem;
}

.product-slider .owl-nav .owl-prev{
      left: -3rem;
}

.product-card{
      /* height: 40rem;
      width: 30rem; */
      margin: 2rem auto;
      box-shadow: 0 0 .3rem #000;
      border-radius: .5rem;
      position: relative;
}



.image{
      height: 60%;
      width: 100%;
}

.image img{
      height: 100%;
      width: 100%;
      object-fit: cover;
}

.content{
      height: 25%;
      width: 100%;
      text-align: center;
      padding: 20px;
}

.content h3{
      font-size: 25px;
}

.content .stars i{
      color: gold;
      font-size: 10px;
}

/* .price{
      font-size: 20px;
      color: red;
} */

.info{
      position: absolute;
      top: 0;
      left: 0%;
      height: 100%;
      width: 100%;
      background: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      transition: 0.3s;
      transform: scale(0);

}

.product-card:hover .info{
      transform: scale(1);
}

.info h4{
      font-size: 15px;
      color: #fff;
}

.info p{
      color: #fff;
      font-size: 12px;
      padding: 1rem 2rem;
      text-align: justify;
}

.info a:hover{
      background: red ;
      /* color: red; */
}

.share a{
      font-size: 18px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      background: #fff;
      color: red;
      margin: 5px;
      border-radius: 50%;
}

.share a:hover{
      text-decoration: none;
      background-color: red;
      color: #fff;
}

.my-tabs {
      flex-wrap: nowrap;
  }


.custom-content{
      display: flex;     
      align-items: center;
      justify-content: center;
      min-height: 500px;
      /* min-width: 900px; */
}

.latestBtn{
      background-color: rgb(255, 15, 0) !important;
      color: #fff;
      width: 250px;
      height: 100px;
      border: none;
      margin: 5px;
      height: 41px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}

.late-card{
      position: relative;
      /* width: 700px; */
      height: 450px;
      background: #000;
      border-radius: 5px;
      display: flex;
      align-items: center;
      transition: .5s;
}

.late-card .circle{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
}

.late-card .circle::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: #d83133; */
      clip-path: circle(120px at center);
      transition: .5s;
}

.late-card:hover .circle:hover::before{
      /* background: darkblue; */
      clip-path: circle(400px at center);
}


.late-card img{
      position: absolute;
      /* top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
      height: 400px;
      width: 200px;
      pointer-events: none;
      transition: .5s;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
}

.late-card:hover img{
      left: 50%;
      height: 400px;
      width: 500px;
}

.late-card .late-content{
      position: relative;
      width: 50%;
      left: 20%;
      padding: 20px 20px 20px 40px;
      transition: .5s;
      opacity: 0;
      visibility: hidden;
      /* text-align: left; */
}

.late-card:hover .late-content{
      left: 0;
      opacity: 1;
      visibility: visible;
}

.late-card .late-content h2{
      color: #fff;
      text-transform: uppercase;
      font-size: 2em;
      line-height: 1em;
      margin-bottom: 35px;
}

.late-card .late-content p{
      color: #fff;
      font-size: 16px;
      font-family: sans-serif;
      margin-bottom: 30px;
}

.late-card .late-content a{
      position: relative;
      color: #fff;
      padding: 8px 20px;
      background-color: transparent;
      margin-top: 10px;
      display: inline-block;
      font-weight: lighter;
      border: 1px solid rgb(255, 15, 0);
      font-size: 14px;
      font-family: monospace;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
}

.late-card .late-content a:hover {
      border-color: #fff;
      color: rgb(255, 15, 0);
      transition: all .5s ease;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
}

@media(max-width: 991px){
      .late-card{
            width: auto;
            min-width: 350px;
            align-items: flex-start;
            margin: 10px;
      }

      .late-card:hover{
            height: 600px;
      }

      .late-card .late-content{
            width: 100%;
            left: 0;
            padding: 30px;
      }

      /* .late-card:hover img{
            top: 70%;
            left: 50%;
            height: 300px;
      } */
}

@media(max-width: 420px){
      .late-card .late-content{
            padding: 20px;
      }
}

/* CONTACT AREA */

.contact-header{
      padding: 40px 0;
}

.contact-form{
      padding: 0 80px 100px;
}

/* CONTACT END */

/* About */

.about {
      padding: 100px 0;
}

.about-image {
      border: 1.5px solid red;
      margin-bottom: 70px;
}

.about .about-content .about-title{
      font-size: 45px;
      font-weight: bold;
      margin-bottom: 30px;
}

.about .about-content .about-def{
      line-height: 1.5;
      font-size: 16px;
}

.ourteam .team-card{
      /* border: 1px solid rgb(255, 15, 0); */
      background: #fff;
      margin: 10px 10px;
      box-shadow:  0px 1px 6px rgb(0 0 0 / 20%);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      overflow: hidden;
}

.team-card .team-box-img {
      width: 100%;
      height: 250px;
}

.team-card .team-box-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
      padding: 0;
}

.ourteam .team-body{
      display: flex;
      justify-content: space-between;
      margin: 12px 10px;
}

.ourteam .team-body .team-name h3{
      font-size: 20px;
      color: rgb(255, 15, 0);
      font-weight: bold;
      margin: 0;
}

.ourteam .team-body .team-job p{
      font-size: 15px;
      color: rgb(255, 15, 0);
      margin: 0;
}

.ourteam .team-card .team-body hr{
      background: rgb(255, 15, 0);
}

.ourteam .team-card .social-icon ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      padding-left: 0;
  }

.ourteam .team-card .social-icon ul li:hover{
      background: rgb(255, 15, 0);
}

.ourteam .team-card .social-icon ul li:hover a i{
      color: #fff;
}



.ourteam .team-card .social-icon ul li{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 2px solid rgb(255 12 0);
      /* background: #dde5ee; */
      background-color: #fff;
      transition: .5s;
}

.ourteam .team-card .social-icon ul li > a {
      display: block;
      line-height: 35px;
      text-align: center;
}

.ourteam .team-card .social-icon ul li a i{
      color: rgb(255, 15, 0);
}